<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
   <!--<test verbose="2" preserve-order="true" name="C:/Users/MazharAhmad.Khan/IdeaProjects/myMavenProject">-->
   <test verbose="2" preserve-order="true" name="Test">
      <classes>
         <class name="org.trianz.eagleaccess.tests.practice.testPracticeTestng">
            <methods>
               <include name="setup" />
               <!--<include name="setup" />-->
               <!--<include name="tearDown" />-->
            </methods>
         </class>
      </classes>
   </test>
</suite>